<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums – Spotify DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
</head>
<body>
    <a href="/" class="back-link">← Back to Home</a>

    <h1>Albums</h1>
    <p class="subtitle">Albums released by different artists.</p>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Album name</th>
                    <th>Release year</th>
                    <th>Artist ID</th>
                    <th>Genre ID</th>
                </tr>
            </thead>
            <tbody>
                {% for al in albums %}
                <tr>
                    <td>{{ al.album_id }}</td>
                   <td>{{ al.album_name }}</td>
                    <td>{{ al.release_year }}</td>
                    <td>{{ al.artist_id }}</td>
                    <td>{{ al.genre_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>